.tm-overlay {
	background: #000;
	opacity: 0.5;
  	filter: alpha(opacity=50);
  	position: fixed;
}

.tm-otop {		top: 0; right: 0; left: 0; }
.tm-oright {	right: 0; }
.tm-obottom {	right: 0; bottom: 0; left: 0; }
.tm-oleft {		left: 0; }

.tm-popover {
	position: fixed;
	background: #000;
	color: #fff;
	width: 250px;
	padding: 5px;
}

.tm-bracket {
	position: fixed;
}

.tm-btop {
	border: 5px solid #000;
	border-bottom: none;
	height: 10px;
}

.tm-bbottom {
	border: 5px solid #000;
	border-top: none;
	height: 10px;
}

.tm-bleft {
	border: 5px solid #000;
	border-right: none;
	width: 10px;
}

.tm-bright {
	border: 5px solid #000;
	border-left: none;
	width: 10px;
}